// BP Question Component Style Overrides

.question-container {
    grid-template-rows: 0.1fr auto auto 0.3fr;
}

.sub-title {
    grid-row-start: 2;
    grid-column-end: span 4;
    margin-bottom: 7px;
    margin-top: 7px;
}

.main-button, .main-button-loader {
    grid-column-start: 5;
    grid-row-start: 5;
    margin-bottom: 20px;
    margin-top: 10px;
}

.response-button {
    width: 76px;
    height: 22px;
    align-self: center;
    margin-bottom: 0;
}

.submit-message {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-column-end: span 4;
    margin-bottom: 30px;
    text-align: center;
    justify-self: center;
    align-self: end;
    font-size: 14px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.header-center {
    cursor: default;
}