<div class="survey-content-container">
  <div class="question-wrapper">
    <div id="back-btn" (click)="goBack()" *ngIf="id != 1"><i class="far fa-chevron-left"></i>Back</div>
    <div class="header-title"><a [href]="['/']">WHICH BLOCK PRODUCERS TO VOTE FOR</a></div>
    <div id="progress-count">{{ id }}/{{ proposals.length }}</div>
    <h2 id="question-title" *ngIf="isDataAvailable == true" [innerHTML]="title"></h2>
    <div class="response-btn-wrapper">
      <div class="response-btn-group">
        <button #yes class="response-button" [class.active]="oldResponse == yes.value" value="1"
          (click)="onResponseSelected(yes.value)">YES</button>
        <button #no class="response-button" [class.active]="oldResponse == no.value" value="0"
          (click)="onResponseSelected(no.value)">NO</button>
        <button #notsure class="response-button" [class.active]="oldResponse == notsure.value" value="255"
          (click)="onResponseSelected(notsure.value)">NOT SURE</button>
      </div>
    </div>
    <div id="question-description" [innerHTML]="content"></div>
  </div>
</div>