<div class="home-container">

  <div class="header-right" (click)="goToBPHome()">ARE YOU A BLOCK PRODUCER CANDIDATE?</div>

  <img id="eos-logo" src="../../assets/eos-logo.svg" alt="eos logo" />

  <h2 class="home-title">WHICH BLOCK PRODUCERS TO VOTE FOR?</h2>
  <span class="home-desc">Have you ever wondered which EOS Block Producer Candidates you should vote for?
    We’ve gathered the top EOS Referendum proposals and created this handy survey for you. Find out which Block
    Producers Candidates
    you match with the most in under a minute!</span>

  <button class="main-button" (click)="startSurvey()">START</button>

</div>

<div id="background"></div>